<%- include('../partials/header.ejs', locals) %>
<main>
	<h1><%= instructions %></h1>
	<section class="palette-container"></section>
	<form action="/palette" method="post">
		<button
			type="button"
			name="changePalette"
			class="secondary"
		><%= changeMessage %></button>
		<button
			type="submit"
			name="paletteId"
			class="primary"
		><%= submitMessage %></button>
	</form>
</main>
<%- include('../partials/footer.ejs', locals) %>

