<section class="text-input">
	<label for="<%= name %>"><%= label %></label>
	<input
		name="<%= name %>"
		type="<%= type %>"
		placeholder="<%= placeholder %>"
		minlength="<%= minLength %>"
		maxlength="<%= maxLength %>"
		required
	/>
</section>