<section class="text-input">
	<label for="<%= name %>"><%= label %><% if (locals.showUsername) { %><%= '"' + username + '"' %><% } %></label>
	<input
		name="<%= name %>"
		type="<%= type %>"
		placeholder="<%= placeholder %>"
		minlength="<%= minLength %>"
		maxlength="<%= maxLength %>"
		required
	/>
</section>