<%- include('../partials/header.ejs', locals) %>

<main>
	<h1><%= siteName %></h1>
	<%- include('../partials/lobby/info.ejs', locals) %>
	<%- include('../partials/lobby/form.ejs', locals) %>
</main>

<%- include('../partials/footer.ejs', locals) %>
